:root {
    --verde: #63d4d1;
    --lilas: #5f2c82; 
    
}

@media screen and (min-width: 768px){
    body{
        background-image: linear-gradient(360deg,rgb(144, 215, 243),#bf99d8 );
    }

    section#login{
        width: 80vw;
        height: 280px;
    }

    #dimg{
        display: block;
        position: absolute;
        left: 0px;
        width: 25%;

    }

   #img{
        height: 280px;
        border-top-right-radius: 0px;

    }

    section#login{
    
    }

    #form{
        display: block;
        padding: 0px 10px;
        height: 100%;
        position: absolute;
        top: 2%;
        left: 25%;
        width: 75%;
    }

    div.campo  input{
        width: 93%;
        margin-left: 7%;
    }

    span{
        width: 30px;
        height: 30px;
        font-size: 30px;
        position: absolute;
        left: 1%;
        bottom: 2%;
    }
}